*
  box-sizing: border-box
html, body 
  width: 960px
  font: 16px $font 
  margin: 0 auto
a
  text-decoration: none
  color: inherit 
  &:hover
    cursor: pointer
ul, li
  list-style: none
button
  border: none
.banner
  width: 100%
  img
    width: 100%
.wrapper
  margin-top: 1em
  display: flex
  justify-content: space-between
footer
  background-color: $darkgray
  text-align: center
  color: #fff
  padding: 0.5em

.article
  margin-top: 1em
  h1
    font-size: 1.5em