.detail_content
  .banner
    width: 100%
    img
      width: 100%

  .desc_wrap
    display: flex
    justify-content: space-between
    margin-top: 1em
    .desc
      flex: 1
      margin-right: 1em
      line-height: 2em
      height: 448px
      p
        text-indent: 2em
    .video
      h2
        title()
  
  .section-wrap
    display: flex
    justify-content: space-between  
    margin-bottom: 1em
    margin-top: 1em  
    .feature
      margin-right: 2em
    .feature, .exper
      flex: 1
    h2
      title()
    .article
      line-height: 3em
      display: flex
      justify-content: space-between
      flex-wrap: nowrap
      border-bottom: 1px dotted black
      h3
        width: 360px
        overflow()
    
