.leftNav
  width: 186px
  .latest-resource
    margin-bottom: 1em
    border: 1px solid $gray
    h2
      padding: 0.5em
      margin-right: 1em
      margin-left: 1em
      color: $blue
      font-weight: bold
      border-bottom: 1px solid $gray
      margin-bottom: .5em
    ul
      padding-left: 1.5em
      li
        line-height: 2em
        margin-bottom: 1em
        a
          color: black
          padding: 0.5em
          &:after
            color: $darkgray
            font-size: 0.7em
            margin-left: .5em
  .case
    a
      margin-bottom: 1em
      text-align: center
      font-weight: 700
      display: block
      padding: 0.5em
      border: 1px solid $gray
      color: $blue
      &:first-child, &:last-child
        color: $orange
