title()
  margin-bottom: 1em
  span
    display: inline-block
    padding-bottom: .2em
    border-bottom: 2px solid $orange

overflow()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis