$gray = #f3f3f3
$darkgray = darken($gray, 50%)
$font = 'MicrosoftYaHeiLight', 'Microsoft YaHei', Arial 
$orange = #ed963b
$blue = #3a72b1
$yellow = #FFD544
$border_width = 2px 
$width = 100px
$center_width=($width / 6)
$side_width=(($width - $center_width)/2)