<h1><strong>上海教育资源库介绍</strong></h1>
<p><strong>&nbsp;</strong></p>
<p><strong>一、背景</strong></p>
<p>教育资源是教育信息化的重要组成部分，是充分发挥网络等信息化基础设施优势、构建网上学习环境的重要条件，教育资源的建设、应用与整合有利于推进教育信息化的发展。上海市教委于2004年开始进行上海教育资源库项目建设。按照上海市教委的要求和教学改革的需要，上海教育资源库努力使其成为&ldquo;校长管理的参谋，教师教学的助手，学生学习的工具和终身教育的课堂&rdquo;。</p>
<p>目前，上海市民已拥有了一个由名师、名课和优质资源组成的网上学习超市。打开资源库大门，教师不仅能查看成熟的课件，也可选择文本、图像、声音等各类素材自创课件，或者从他人的教学案例中获取灵感。以上海教育资源库为基础，采用互联网和移动学习模式，形成&ldquo;十网一库&rdquo;模式的开放远程教育系统，目前完成的资源库已处于常规运行期。</p>
<p>&nbsp;</p>
<p><strong>二、资源建设情况</strong></p>
<p>资源是资源库的命脉，资源的质量是资源库是否受欢迎的主要因素，所以上海教育资源库把资源建设作为项目的重点，围绕这个重点，按照自建资源、共建资源和整合资源三种形式来建设。教育资源库基础教育类资源主要格式包括视频、动画和文本等。目前基本建成上海普通教育全覆盖的新颖实用、丰富多彩，并且可以不断生成、更新、提高的教学资源，培育资源库自身的造血功能，为构建学习型城市做出应有的贡献。</p>
<p>基础教育重点建设基础型资源、拓展型资源、探究性研究性资源、&ldquo;两纲&rdquo;教育资源。其中基础型资源密切配合上海市二期课改新教材，实行网格化、全覆盖，包括本市和外省市精品示范课资源、优秀课例、教学设计和多媒体互动学习等资源已近14万条，容量超过3000兆。拓展型资源中的原创作品，在质和量上都取得了新的突破。以科普作品《身边的奥秘》为例，2007年完成了100集的制作，其中有20部作品在国际国内的各种评奖中获得奖励，全片获得全国教育电视节目特等奖。探究性、研究性资源进一步涵盖小学、初中、高中各个学段，几乎涉及到每一个学科。 &ldquo;两纲&rdquo;教育资源主要包括各学科落实生命教育与民族精神教育两个指导纲要的示范课例和经过加工整合的精彩影视资源。</p>
<p>上海教育资源库坚持以我为主进行富有上海特色的资源建设，同时积极引进外部优质教育资源，目前已经引进新华社教育新闻资源、BBC科普资源、中央电化教育馆多学科教育资源等。</p>
<p>&nbsp;</p>
<p><strong>三、资源应用情况</strong></p>
<p>上海教育资源库致力于学习型社会构建的全面支持，以信息技术整合应用于学校教学、教研、学生学习和市民终身教育过程中，建立了应用的普及化、深度化、均衡化和延伸化的创新模式。上海教育资源库开展了包括上海农村教育信息化实践校应用、上海教师网上全员培训、上海社区教育资源共享应用、上海共产党员远程教育应用等覆盖全市各行业数字化学习应用，取得了较好的社会效益。终身学习大平台服务全国，还特别扶植、帮助教育资源薄落的中西部地区，已将资源库资源输送到宁夏、云南、西藏等地区，设立了&ldquo;定点资源接受站&rdquo;，免费提供了卫星接收等硬件设备，共享优质教育资源。</p>
<ol>
<li>上海教师备课应用</li>
</ol>
<p>教师通过上海教育资源库实名注册，人数超过22万，教师通过网上浏览上海教育资源库主页（www.sherc.net），就能查看基础教育的精品示范课资源、优秀课例、教学设计和多媒体互动资源，也可以搜索选择文本、图像、声音等各类素材自创课件，或者从他人的教学案例中获取灵感。上海教育资源库在解决市域教育资源分散、资源建设效率低下等问题上发挥了显著成效。</p>
<ol start="2">
<li>上海教师网上全员培训</li>
</ol>
<p>为了全面提高上海市普教系统教师实施新课程的水平和能力，上海市教委每年举办教师暑期培训，大量上海教育资源库资源被应用于教师培训课程。</p>
<ol start="3">
<li>上海农村教育信息化实践校应用</li>
</ol>
<p>2007年市教委启动了&ldquo;上海市教育信息化应用实践学校&rdquo;项目，选取了信息化水平最薄弱的两所农村学校作为试点学校，教育资源库提供了一系列的直接信息化支持服务，大幅度提升了两所学校教师的教育信息化能力。2008-2009年上年顺利完成22所&ldquo;农村教育信息化应用实践学校&rdquo;的信息化建设；2009-2013年上海教育资源库又开始了490所上海农村中小学的信息化应用项目，目前该项目正在有序推进，已覆盖9个区县，完成463所学校，17539名教师，98323名学生。</p>
<ol start="4">
<li>上海共产党员远程教育平台应用</li>
<li>中西部扶助应用</li>
</ol>
<p><strong>&nbsp;</strong></p>
<p><strong>四、上海教育资源库建设和应用整体评价</strong></p>
<p>上海教育资源库已成为目前全国最大、最完善的教育资源库之一，受到了政府部门、领导专家、特别是各类社会用户的好评，产生了良好的社会影响和效益。根据上海市教育调查队抽样调查，上海教师对资源库总体情况满意度达78.5％，同时节省了大量重复投资。</p>
<p>2009年1月，以&ldquo;上海教育资源库&rdquo;为基础申报的&ldquo;从数字鸿沟到数字机遇：上海市数字化终身教育系统建设项目&rdquo;荣获联合国教科文组织在信息通讯技术领域的唯一大奖&mdash;&mdash;&ldquo;哈马德国王奖&rdquo;，这是中国第一次获得该奖。联合国教科文组织高等教育处处长乔治&bull;哈达说：&ldquo;这个项目向世界展示了一个完全可能的传奇，这不只是一个梦想，这是现实。如果发展中国家的人们能够发动起来，集合力量、智慧和能力，我想这个梦想就可以实现。&rdquo;联合国教科文组织总干事松浦晃一郎说：&ldquo;你们所做的工作十分出色。多年来，你们通过应用信息通讯技术为人们提供教育服务的工作，非常值得称赞&rdquo;。</p>
<p>2009年9月，以&ldquo;上海教育资源库&rdquo;为重要组成部分的&ldquo;开放远程教育在学习型城市建设中的创新与发展&rdquo;项目获得了四年一度的国家教学成果一等奖。</p>
<p>2010年12月，以"上海教育资源库"为基础申报的&ldquo;探索教学资源共建共享机制 促进区域基础教育均衡发展&mdash;&mdash;上海市教育资源库支持课程教材改革的创新实践&rdquo;获得教育部基础教育课程改革教学研究成果一等奖。</p>
<p>上海教育资源库为构建上海终身教育体系、形成全民学习、终身学习的学习型城市做出了贡献，也为我国学习型社会建设的战略目标提供了有益的经验和范例。</p>
<p><strong>&nbsp;</strong></p>
<p><strong>五、上海教育资源库建设和应用整体评价</strong></p>
<p>网&nbsp;&nbsp;&nbsp; 址：<a href="http://www.sherc.net">www.sherc.net</a></p>
<p>客服电话：021-25653066</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>上海教育资源库 &nbsp;&nbsp;</p>
<p>2017年6月 &nbsp;&nbsp;&nbsp;</p>