.leftNav
  .latest-resource
    h2.icon-menu 最新资源
    ul
      each v in ["豌豆公主", "兔子和月亮", "兔子学游泳", "团结起来力量大", "兔子的尾巴", "兔子和刺猬"]
        li
          a.icon-play3(href="")=v
  .case
    a(href="") 研究性学习案例
    a(href="") 身边的科学
    a(href="") 身边的奥秘
