.detail_content
  .banner
    img(src="../lib/img/school.jpg", alt="")

  .desc_wrap
    .desc
      p 上外静安外国语小学（原凤阳路小学）是2002年由上海市静安区教育局和上海市外国语大学双方教育产业部门联合投资创办的一所民办学校。学校拥有两幢教学大楼，教学设施现代，信息化设备齐全应用广泛，语音室、多功能厅、计算机房、美术室、音乐室、科常室、食堂、学生宿舍等设备齐全。外语实行小班化教学。学校全面实行桑还是二期课改教材,并创设了丰富的拓展课程与学生社团活动,以促进学生多元发展.
      p 学校拥有两幢教学大楼,教学设施现代化,教师团队以青年教师为主。其中本科学历达到70% 以上，和谐，敬业，进取是学校团队的主要特点。
      p 目前学校共有20个班级,660名左右的学生。"文化立校、和谐发展"是学校的办学理念。
    .video
      h2 
        span 学校介绍
      video(width="572" controls="controls" controlsList="nodownload")
        source(src="../lib/video/desc.mp4" type="video/mp4")
        sorry your browser doesn't support embedded videos

  .section-wrap
    .feature
      h2
        span 学校特色
      each v in new Array(5)
        div.article 
          h3 
            a(href="./article.html") 时尚周 | 环东华时尚周圆满落幕 “金木水火土”海派商务旗袍精彩压轴
          span.date [2017-06-02]
    .exper
      h2
        span 办学经验
      each v in new Array(5)
        div.article 
          h3
            a(href="./article.html") 上海交大学子在第38届世界头脑奥林匹克总决赛夺冠
          span.date [2017-06-02]
  .section-wrap
    .feature
      h2
        span 优质资源
      each v in new Array(5)
        div.article 
          h3 
            a(href="./article.html") 上海交大中英国际低碳学院签约暨揭牌仪式举行
          span.date [2017-06-02]

  
