.top
  .help
    a(href="") 设为首页
    a(href="") 添加收藏
    a(href="") 帮助？
  .login
    a(href="") 登录
    a(href="") 帮助

.search
  img(src="/lib/img/logo.jpg", alt="")
  .center
    .search-group
      input(type="text" placeholder="请输入关键词") 
      button.host 搜本站
      button.baidu 搜百度文库
    .hot_search
      p 热门搜索:
        span 九年级英语教案
        span 劳技四年级
        span 体育与健身四年级
  .right
    .contact.icon-phone
      h3 客服
      .tel 021-25353066
      a.common_problem(href='') 常见问题



